

  <footer class="text-center text-lg-start shadow p-3 mt-4" style="background-color: #E8EFFF" ;>
    <div class="container d-flex justify-content-center py-5">
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #FFFFFF;">
        <a href="https://facebook.com" class="fab fa-facebook-f"></a>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-instagram"></i>
      </button>
      <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
        <i class="fab fa-twitter"></i>
      </button>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: #24529f ;">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">B.R.Y.A.N.</a>
    </div>
    <!-- Copyright -->
  </footer>
  
